<script>
  var points = [];
  var total = 5;
  var longitudes = [5, 10, 15, 20, 25];
  var latitudes = [10, 20, 30, 40, 50];
  var names = ['Tom', 'Dick', 'Harry', 'Jack', 'Jill'];
  for ( let index = 0; index < total; index++ ) {
    points.push({
      coordinates: [longitudes[index], latitudes[index]],
      properties: {
        id: latitudes[index],
        name: names[index],
        text: "hello"
      }
    });
  }
  console.log(points);
</script>

<div class="form-header">
  <% if (Object.keys(errors).length === 0) { %>
    <h2>Submit your form!</h2>
  <% } else { %>
    <h2 class="errors-heading">Oops, please correct the following:</h2>
    <ul class="errors-list">
      <% Object.values(errors).forEach(error => { %>
        <li><%= error.msg %></li>
      <% }) %>
    </ul>
  <% } %>
</div>

<form method="post" action="/submit-form">
  <label for="username">Username</label>
  <input type="text" name="username" />
  <div class="form-actions">
    <button class="btn" type="submit">Send</button>
  </div>    
</form>